
  body {
  margin: 0;
  padding: 0;
}
*{
  box-sizing: border-box;
}
header {
  background-color: #944E63;
  padding: 35px;
  text-align: center;
  font-size: 15px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}
article {
  float: left;
  padding: 20px;
  width: 1170px;
  background-color: #CAA6A6;
  height: 3000px; 
  color: BLACK;
  margin-left: 180px;
}

a{
color: rgb(8, 2, 2);
    text-decoration: none;
 
}
 li  a{
    text-align: center;
  padding: 8px 16px;
    display: block;
    padding-bottom: 15%;
}
 ul {
  list-style-type: none;
 margin-top: 0%;
 padding: 0;
 margin: 0;
  background-color: #944E63;
   list-style-type: none;
  width: 180px;
  position: fixed;
  height: 100%;
  overflow: auto;
  text-align: center;
  

}
section::after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
a:hover {
  background-color: white;
  height: 100%;
}

ul li a.active {
  background-color: #B47B84;
  color: white;
}
ul li a:hover:not(.active) {
  background-color: #CAA6A6;
  color: white;
}
@media screen and (max-width: 800px) {
  nav li a {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 1200px) {
  nav {
    width: 100%;
    height: auto;
    position: relative;
  }
  article {
    width: 100%;
    height: auto;
    position: relative;

  }
  nav ul li a {
    float: left;
    padding: 15px;
  }
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 20%;
  
}
.profile-header img {
  border-radius: 50%;
  object-fit: cover;
}
.profile-header h1 {
  margin-top: 20px;
  margin-left: 30px;
  position: relative;
  font-size: 50px;
}
.profile-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-header h2 {
  margin-top: -20px;
  margin-left: 30px;
  position: relative;
  font-size: 30px;
}
