
table
{
    width: 100%;
    border-collapse: collapse;
}
td, th, tr{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
}

th {
    background-color: pink;

    font-weight: bold;
}
tr:nth-child(even) {
    background-color: PINK;
}
tr:nth-child(odd) {
    background-color:pink;
}
a {
    color: #e75480; 
    text-decoration: none; 
    font-weight: bold;     
}
