body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 102;
  left: 0;
  top: 25.1%;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  background-color: beige;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555555;
  color: white;
}
header {
  background-color: #F3C5C5;
  padding: 30px;
  text-align: center;
  font-size: 23.57px;
  color: black;
  position: fixed;
  top: 0;
  z-index: 100;

  width: calc(100% - 60px);
  z-index: 101;
}
article {
  float: left;
  padding: 20px;
  width: calc(100% - 245px);
  background-color: #FBE8E7;
   
  color: BLACK;
  margin-left: 200px;
}
#ads{
    border: solid #F3C5C5;
    height: 65px;
    width: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #F3C5C5;
    translate: 650% 450%;
    gap: 5px;
    border-radius: 100px;
}
 a {
    text-decoration: none;
    color: black;
text-align: center;

}