p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;
}
.mama {
    background-color:pink ;
    width: 95% ;
    border: 2px solid black;
    float: left ;
    text-align: center;
    border-radius: 20px ;
padding-left: 2%;
padding-right: 2%;
}
.mama1 {
    background-color:pink ;
 margin-top: 2%;
    width: 95% ;
    border: 2px solid rgb(3, 1, 1);
    float: left ;
    text-align: center;
    border-radius: 20px ;
padding-left: 2%;
padding-right: 2%;
}
p.one {
  border-style: solid;
  border-width: 2px;
}

p.two {
  border-style: groove;
  border-width: 15px;
}

p.three {
  border-style: ridge;
  border-width: 35px;
}

p.four {
  border-style: ridge;
  border-width: thin;
}

p.five {
  border-style: inset;
  border-width: medium;
}

p.six {
  border-style: outset;
  border-width: thick;
}
body {
   
    flex-direction: column;
    align-items: center;
   background-color: #FBE8E7;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 102;
  left: 0;
  top: 18.91%;
     font-size: x-large;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  background-color: beige;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555555;
  color: white;
}
header {
  background-color: #F3C5C5;
  padding: 30px;
  text-align: center;
  font-size: 23.57px;
  color: black;
  position: fixed;
  top: 0;
  z-index: 100;

  width: calc(100% - 60px);
  z-index: 101;
}
article {
  float: left;
  padding: 20px;
  width: calc(100% - 245px);
  background-color: #FBE8E7;
   margin-top: 180px;
  color: BLACK;
  margin-left: 200px;
}
h1 {
    text-align: center;
    color: black; ;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#ads{
    border: solid #F3C5C5;
    height: 65px;
    width: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #F3C5C5;
    translate: 650% 450%;
    gap: 5px;
    border-radius: 100px;
}
 a {
    text-decoration: none;
    color: black;
text-align: center;

}