.head{
    background-color: #E7CCCC ;
    width: 92% ;
    float:left ;
    border: 2px solid #c5a4a4; 
    margin: auto;
    border-radius: 25px;
    box-shadow: #a58e8e 10px 10px 10px;
    height: 200px;
    padding: 15px;
    margin-top: 3%;
    margin-left: 2%;
    margin-bottom: 1%;
    padding-left: 3%;
}
.heading{
    text-align: center;
    font-family: gill sans;
    font-size: 40px;
    color: black;
    margin-top: 20px;
     padding-left: 3%;
}
.para{
    text-align: left;
    font-family: verdana;
    font-size: 20px;
    color: black;
     padding-left: 2%;
    padding-right: 2%;
}
.content{
    background-color: #EDE8DC ;
    width: 92% ;
    float:left ;
    border: 2px solid #cecac1; 
    margin: 2%;
    border-radius: 25px;
    box-shadow: #9b9891 10px 10px 10px;
    height: 300px;
    padding: 15px;
     padding-left: 3%;
}
.sub-content{
    background-color: lightblue ;
    float:left ;
    border: 2px solid #4B5945; 
    margin: 2%;
    border-radius: 25px;
    box-shadow: #4B5945 10px 10px 10px;
    width: 29%;
    height: 140px;
  
}
.content2{
    background-color: lightblue ;
    width: 92% ;
    float:left ;
    border: 2px solid #4B5945; 
    margin: 2%; 
    margin-bottom: 3%;
    border-radius: 25px;
    box-shadow:     #798374 10px 10px 10px;
    height: 650px;
    padding: 15px;
    padding-bottom: 5%;
    margin-top: 1%;
    

}
.color1{
    background-color: #C1CFA1 ;
    border: #000000;
     text-align: center;
    font-size: large;
}
#Country1{
    background-color:#A5B68D ;
    font-family: comicsans ;
    box-shadow: #4B5945;
    
}
#Country2{
    background-color: #A5B68D ;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: #000000;
}
#Country3{
    background-color: #A5B68D ;
      font-family: 'Courier New', Courier, monospace;
}
#Country4{
    background-color: #A5B68D ;
      font-family: 'Courier New', Courier, monospace;
}
#Country5{
    background-color:#A5B68D ;
      font-family: 'Courier New', Courier, monospace;
}
#Country6{
    background-color: #A5B68D ;
      font-family: 'Courier New', Courier, monospace;
}
#Country7{
    background-color: #A5B68D ;
      font-family: 'Courier New', Courier, monospace;
}
#Country8{
    background-color:#A5B68D ;
      font-family: 'Courier New', Courier, monospace;
}
#Country9{
    background-color:#A5B68D ;
      font-family: 'Courier New', Courier, monospace;
}
.content3{
   

    width: 92% ;
    float:left ;
    border: 2px solid #4B5945; 
    margin: 2%; 
    margin-bottom: 3%;
    border-radius: 25px;
    box-shadow: #4B5945 10px 10px 5px;
    height: 650px;
    padding: 15px;
    padding-bottom: 5%;
    margin-top: 1%;
}
.color2{
    background-color: #66785F ;
     text-align: center;
    font-family: serif;
    border: #4B5945 solid 2px;
    
}
#Animal1{
    background-color: #91AC8F ;
      font-family: 'Courier New', Courier, monospace;
    border: #4B5945 solid 2px;
    box-shadow: #22291f 10px 10px 5px;
}
#Animal2{
    background-color: #91AC8F ;
      font-family: 'Courier New', Courier, monospace;
      border: #4B5945 solid 2px;
    box-shadow: #22291f 10px 10px 5px;
}
#Animal3{
    background-color:#91AC8F ;
      font-family: 'Courier New', Courier, monospace;
        border: #4B5945 solid 2px;
    box-shadow: #22291f 10px 10px 5px;
}
#Animal4{
    background-color: #91AC8F ;
      font-family: 'Courier New', Courier, monospace;
        border: #4B5945 solid 2px;
    box-shadow: #22291f 10px 10px 5px;
}
#Animal5{
    background-color: #91AC8F ;
      font-family: 'Courier New', Courier, monospace;
        border: #4B5945 solid 2px;
    box-shadow: #22291f 10px 10px 5px;
}
#Animal6{
    background-color: #91AC8F ;
      font-family: 'Courier New', Courier, monospace;
        border: #4B5945 solid 2px;
    box-shadow:  #22291f 10px 10px 5px;
}

#Animal7{
    background-color:#91AC8F ;
      font-family: 'Courier New', Courier, monospace;
        border: #4B5945 solid 2px;
    box-shadow:  #22291f 10px 10px 5px;
}
#Animal8{
    background-color: #91AC8F ;
      font-family: 'Courier New', Courier, monospace;
        border: #4B5945 solid 2px;
    box-shadow:  #22291f 10px 10px 5px;
}
#Animal9{
    background-color: #91AC8F ;
      font-family: 'Courier New', Courier, monospace;
        border: #4B5945 solid 2px;
    box-shadow:#22291f 10px 10px 5px;
}
