div {
    background-color:pink ;
    width: 47% ;
    margin: 1%;
    float: left ;
    text-align: center;
    border: 2px solid black ;

}
h3 {
    text-align: center;
}
.parent {
 height: 300px ;
 background-color: lightgrey;
 box-shadow: 10px 10px 5px grey;
}
.child {
 height: 100px ;
 width: 45% ;
 background-color: pink;    
 box-sizing: content-box;
 box-shadow: 10px 10px 5px grey;
margin-bottom: auto;
margin-left: 14px;
}
h3 ,h2{
    text-align: center;
    color: black;
    text-shadow: 10px 10px 5px grey;
    font-family: serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
   background-color: #FBE8E7;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 102;
  left: 0;
  top: 18.91%;
     font-size: x-large;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  background-color: beige;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555555;
  color: white;
}
header {
  background-color: #F3C5C5;
  padding: 30px;
  text-align: center;
  font-size: 23.57px;
  color: black;
  position: fixed;
  top: 0;
  z-index: 100;

  width: calc(100% - 60px);
  z-index: 101;
}
article {
  float: left;
  padding: 20px;
  width: calc(100% - 245px);
  background-color: #FBE8E7;
   margin-top: 180px;
  color: BLACK;
  margin-left: 200px;
}
#ads{
    border: solid #F3C5C5;
    height: 65px;
    width: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #F3C5C5;
    translate: 650% 450%;
    gap: 5px;
    border-radius: 100px;
}
 a {
    text-decoration: none;
    color: black;
text-align: center;

}