

input[type="checkbox"] {
    width: 18px;
    height: 15px;
    accent-color: pink; 
    margin-right: 8px;
    margin-top: 1px;
    
}
ol li::marker {
    content: "Step " counter(list-item) ". "; 

}
ol {
    text-align: left;
padding-left: 20%;

}
ul {
    list-style-type: none;
    padding-left: 20;
    margin-bottom: 20px;
    text-align: left;
    

}

.sub-content{
    background-color: lightblue ;
    float:left ;
    border: 2px solid black; 
    margin: 2%;
    border-radius: 25px;
    box-shadow: grey 10px 10px 5px;
    width: 29%;
    height: 250%;
}


