.heading{
    text-align: center;
    font-family: gill sans;
    font-size: 40px;
    color: black;
    
    
}
.content2{
    background-color:lightblue ;
    width: 99.9% ;
    float:left ;
    border: 2px solid crimson; 
    border-radius: 25px;
    box-shadow: crimson 5px 5px 5px 4px; 
    height: 110px;
    margin-top: -10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}


hr{
    width: 95%;
    border: 0;
    height: 10px;
    background-color: cornflowerblue;
    margin-bottom: 20px;
    padding-left: 100px;
    margin-left: -10px;
}
    



.content3{
    width: 80% ;
    float:left ;
    border: 2px solid #FBE8E7; 
    margin: 2%; 
    margin-bottom: 100%;
    border-radius: 25px;
  
    height: 650px;
    padding: 15px;
    padding-bottom: 50%;
    margin-top: 1%;

  
}
.color2{
    background-color: #FBE8E7 ;
     text-align: left;
    border:#FBE8E7 2px;
    
}
#Animal1{
    background-color: rgb(255, 255, 255) ;
    border: white solid 2px;
    box-shadow:gold 10px 7px 10px 1px;
    width: 80%;
    height: 16%;
    margin-bottom: 0%;
    margin-left: 9%;
    padding-left: 10px;
    margin-top: -1%;
    
}
#Animal2{
margin-top: 18px;
    background-color: rgb(226, 226, 226);
      border: rgb(219, 223, 221) 2px;
    box-shadow: rgba(43, 100, 185, 0.993) 3px 5px 4px 2.5px;
     width: 26%;
     height: 50px;
     margin-right: -10px;
     margin-left: 10%;
     text-align: center;
}
#Animal3{
    margin-top: 18px;
    background-color:rgb(226, 226, 226) ;
        border: rgb(219, 223, 221) ;
    box-shadow: rgba(43, 100, 185, 0.993) 3px 5px 4px 2.5px;
     width: 26%;
       height: 50px;
         margin-right: -10px;
         text-align: center;
}
#Animal4{
    margin-top: 18px;
    background-color:rgb(226, 226, 226) ;
        border: rgb(219, 223, 221);
    box-shadow:rgba(43, 100, 185, 0.993) 3px 5px 4px 2.5px;
     width: 26%;
       height: 50px;
         margin-right: 6px;
         text-align: center;
}

.sub-content{
    background-color: lightblue ;
    float:left ;
    border: 2px solid black; 
    margin: 2%;
    border-radius: 25px;
    box-shadow: grey 3px 5px 4px 2.5px;
    width: 29%;
    height: 140px;
    margin-right: -15px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
   background-color: #FBE8E7;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 102;
  left: 0;
  top: 25.1%;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  background-color: beige;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555555;
  color: white;
}
header {
  background-color: #F3C5C5;
  padding: 30px;
  text-align: center;
  font-size: 23.57px;
  color: black;
  position: fixed;
  top: 0;
  z-index: 100;

  width: calc(100% - 60px);
  z-index: 101;
}
article {
  float: left;
  padding: 20px;
  width: calc(100% - 245px);
  background-color: #FBE8E7;
   margin-top: 180px;
  color: BLACK;
  margin-left: 200px;
}