body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
    
}
.box{
    width: 300px;
    height: 300px;
    position: absolute;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.box1{
  
    top: 100px;
    left: 100px;
    z-index: 1;
}
.box2{
   
    top: 350px;
    left: 150px;
    z-index: 3;
}
.box3{
   
    top: 200px;
    left: 220px;
    z-index: 2;
}
.box4{
   
    top: 250px;
    left: 10px;
    z-index: 0;
}
.container {
  
  position: absolute;
 left: 50%;
 transform: translate(-50%, 0%);
width: 500px;
height: 500px;
margin: auto;
}
.box:hover {
    cursor: pointer;
    z-index: 10;
transition-delay: 0.2s;
    transform: scale(1.09);
}
.box {
    
    transition: box-shadow 0.3s, transform 0.5s;
}