body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
    
}
.box{
    width: 300px;
    height: 300px;
    position: absolute;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.box1{
  
    top: 100px;
    left: 100px;
    z-index: 1;
}
.box2{
   
    top: 350px;
    left: 150px;
    z-index: 3;
}
.box3{
   
    top: 200px;
    left: 220px;
    z-index: 2;
}
.box4{
   
    top: 250px;
    left: 10px;
    z-index: 0;
}
.container {
  
  position: absolute;
 left: 50%;
 transform: translate(-50%, 0%);
width: 500px;
height: 500px;
margin: auto;
}
.box:hover {
    cursor: pointer;
    z-index: 10;
transition-delay: 0.2s;
    transform: scale(1.09);
}
.box {
    
    transition: box-shadow 0.3s, transform 0.5s;
}
body {
  margin: 0;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 102;
  left: 0;
  top: 25.1%;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  background-color: beige;
}

li a.active {
  background-color: #f8c8c8;
  color: white;
}

li a:hover:not(.active) {
  background-color: #e9cccc;
  color: white;
}
header {
  background-color: #F3C5C5;
  padding: 30px;
  text-align: center;
  font-size: 23.57px;
  color: black;
  position: fixed;
  top: 0;
  z-index: 100;

  width: calc(100% - 60px);
  z-index: 101;
}
article {
  float: left;
  padding: 20px;
  width: calc(100% - 245px);
  background-color: #FBE8E7;
   margin-top: 160px;
  color: BLACK;
  margin-left: 200px;
}